* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */

:root {
  --font-heading: Sen, sans-serif;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  padding: 0 16px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  background: #171100;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.heading {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #171100;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}

/* Header */
.header {
  background: #fffcf4;
}

.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}

.header .body {
  padding: 36px 0 8px;
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar ul {
  display: flex;
}

.navbar a {
  position: relative;
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 8px 21px;
}

.navbar a:hover,
.navbar li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.navbar li.active a::after {
  position: absolute;
  bottom: 6px;
  left: 21px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.header .sign-up-btn {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}

/* Hero */
.hero {
  background: #fffcf4;
}

.hero .body {
  display: flex;
  padding: 56px 0 65px;
}
/* Hero left */
.hero .image {
  display: block;
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .hero-summary {
  padding: 24px 58px 24px 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff9e8;
}

.hero-summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero-summary .info {
  margin-left: 16px;
}

/* Hero right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.content-block .desc {
  margin: 22px 0;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.content-block .cta-group {
  display: flex;
  align-items: center;

  margin-top: 38px;
}

.content-block .course-btn {
  background: #ffb900;
  min-width: 180px;
  line-height: 64px;
}

.content-block .desc:nth-last-child(1) {
  margin-top: 8px;
}

.content-block .desc:nth-last-child(2) {
  margin-top: 48px;
}

.content-block .desc strong {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}

.hero .watch-video {
  margin-left: 28px;
  display: flex;
  align-items: center;
  border: none;
  background: #fff;
  cursor: pointer;
}

.hero .watch-video .icon {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

/* Popular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .row .desc {
  margin-top: 16px;
  width: 458px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.popular .control {
  display: flex;
  gap: 18px;
}

.popular .control-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffb900;
  border: 1px solid #ffb900;
  border-radius: 50%;
  background: transparent;
}

.popular .control-btn:hover {
  background-color: #ffb900;
  color: #fff;
  cursor: pointer;
}

.popular .item-group {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .item {
  flex: 1;
  border: 1px solid #e2dfda;
  border-radius: 12px;
}

.popular .item .thumb {
  width: calc(100% + 2px);
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  margin-left: -1px;
}

.popular .info {
  padding: 16px 22px 22px 22px;
}

.popular .row-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .info .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.popular .info .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.popular .rate span {
  font-size: 1.6rem;
  color: #fea31b;
}

.popular .row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .row-2 span {
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

.popular .popular-book-btn:hover {
  background: #ffb900;
}

/* Feedback */
.feedback {
  padding: 96px 0;
  margin-top: 135px;
  background: #2e2100;
}

.feedback .body {
  display: flex;
}

.feedback .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .title {
  font-family: var(--font-heading);
  margin-top: 18px;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
}

.feedback .desc {
  margin-top: 4px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb3;
}

.feedback .dots {
  margin-top: 28px;
  display: flex;
}

.feedback .dot {
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback .active {
  background: #ffb900;
  cursor: default;
}

.feedback .quote-block {
  width: 66%;
  margin-left: auto;
}

.feedback .quote-block .quote {
  margin-left: 30px;
  font-style: italic;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}

/* Features */

.features {
  margin: 200px 0;
}
/* Features - body-1 */
.features .body-1 {
  display: flex;
}

.features .body-1 .image-group {
  display: flex;
  gap: 30px;
}

.features .body-1 .image {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .body-1 .image:first-child {
  margin-top: 34px;
}

.features .body-1 .info {
  width: 41%;
  margin-left: auto;
  margin-top: 58px;
}

.features .title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #171100;
}

.features .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.features .features-btn {
  margin-top: 32px;
  min-width: 137px;
}

.features .features-btn:hover {
  background-color: #ffb900;
}

/* Features - body-2 */
.features .body-2 {
  margin-top: 200px;
  display: flex;
}

.features .body-2 .info {
  width: 49%;
  margin-top: 71px;
}

.features .body-2 .image-group {
  margin-left: auto;
}

.features .body-2 .image {
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}

/* Blog */
.blog {
  padding: 96px 0;
  background: #fffcf4;
}

.blog .intro {
  margin-left: auto;
  margin-right: auto;
  width: 448px;
}

.blog .intro .title {
  text-align: center;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #130606;
}

.blog .intro .desc {
  text-align: center;
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696262;
}

.blog .blog-items {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.blog .item {
  flex: 1;
  background: #fff;
  border-radius: 16px;
}

.blog .image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.blog .body {
  padding: 20px 20px 28px 20px;
}

.blog .row {
  display: flex;
  align-items: center;
}

.blog .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}

.blog .active {
  background: #ffb900;
  cursor: default;
}

.blog .date {
  margin-left: 4px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.blog .seperate {
  margin-top: 12px;
  width: 160px;
  height: 1px;
  background: #e2dfda;
  border-radius: 0.5px;
}

.blog .sub-title {
  margin-top: 12px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #171100;
}

.blog .blog-btn {
  margin-top: 12px;
}

.blog .blog-btn:hover {
  background: #ffb900;
}

.blog .dots {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

/* Footer */
.footer {
  padding: 96px 0 28px 0;
  background: #2e2100;
}

.footer .body {
  display: flex;
}

.footer .info {
  width: 267px;
  margin-right: 145px;
}

.footer .info .desc {
  margin-top: 18px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.footer .icon {
  margin-top: 18px;
  margin-right: 18px;
  cursor: pointer;
}

.footer .column-group {
  display: flex;
  margin-left: auto;
  gap: 130px;
}

.footer .heading {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #ffffff;
}

.footer .footer-seperate {
  margin-top: 14px;
  width: 130px;
  height: 1px;
  background: #59554b;
}

.footer .column ul {
  margin-top: 28px;
}

.footer ul li {
  margin-top: 12px;
}

.footer ul a {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
  white-space: nowrap;
}

.footer ul a:hover {
  opacity: 0.8;
}

.footer .contact {
  width: 231px;
}

.footer .contact strong {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #ffffff;
}

.footer .contact .desc {
  margin-top: 12px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.footer .contact .desc:first-child {
  margin-top: 28px;
}

.footer .seperate {
  margin-top: 38px;
  width: 1170px;
  height: 1px;
  background: #59554b;
}

.footer .copyright {
  margin-top: 28px;
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #807d74;
}
